$body-bg: #8593a1;
$body-color: black;
$mobile-menu-link-color: #ffffff;
$main-width: 320px;
@mixin outline-red {outline: 1px solid red;};
@mixin margin-0 {margin: 0px;}
@mixin padding-0 {padding: 0px;}


html, body {
  width: $main-width;
  margin: 0;
  padding: 0;
}

*, html {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family: PT Sans, Helvetica, sans-serif;
  color: $body-color;
  background-color: $body-bg;
}

.mobile-menu {
  width: $main-width;
  min-height: 50px;
}

.mobile-menu__wrapper {
  position: relative;
}

.mobile-menu__items {
  list-style: none;
  @include margin-0;
  @include padding-0;
}

.mobile-menu__item a {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: $mobile-menu-link-color;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  background-color: #81b3d2;
}

.mobile-menu__close {
    position: absolute;
    top: 15px;
    right: 16px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: #81b3d2;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.mobile-menu__close::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 12px;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.mobile-menu__close::after {
    content: "";
    position: absolute;
    left: -8px;
    top: 12px;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(-45deg);
}

.top-menu {
  position: relative;
  width: $main-width;
  height: 56px;
  background-color: #ffffff;
}

.top-menu__logo {
  position: absolute;

}

.top-menu__button {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  font-size: 0;
  background-color: #81b3d2;
  border: 0;
  outline: 0;
  border-top: 9px solid #ffffff;
  border-bottom: 9px solid #ffffff;
  cursor: pointer;
}

.top-menu__button::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -9px;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
}

.top-menu__button::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 9px;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
}
