.map {
  min-height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg");
}

@media #{$tablet-width} {
  .map {
    background: url("../img/bg-map-tablet@1x.jpg");
  }
}

@media #{$desktop-width} {
  .map {
    background: url("../img/bg-map-desktop@1x.jpg");
  }
}
